
body {
    background: #f5f5f5;
}
.wrapper {
    margin: 15px auto;
    border-radius: 5px;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
}

.warning {
    background: rgba(233, 178, 3, 0.5);
}
.error {
    background: rgba(233, 3, 3, 0.5);
}

table i {
    margin-left: 5px;
}
