doctype 5
html
  head
    title Eindir
    link(rel='stylesheet', href='/assets/css/prettify.css')
    link(rel='stylesheet', href='/assets/api/reset.css')
    link(rel='stylesheet', href='/assets/api/style.css')
    script(src='/assets/js/google-code-prettify/prettify.js')
    script
      addEventListener('load', function (event) { prettyPrint() }, false);

  body.api
    h1 Info um eind
    - if (typeof(error) !== 'undefined')
        h2 #{error}
    else
        #container
            pre.prettyprint.linenums= JSON.stringify(device, 0, 4)

