html, body { height: 100%; width: 100%; margin: 0; padding: 0; }
#map {
  margin: 0;
  padding: 0;
  background-color: rgb(153, 179, 204);
}
#copyright {
  position: absolute;
  bottom: 12px;
  right: 12px;
  font-size: 10pt;
  font-family: helvetica, arial, sans-serif;
  color: white;
  z-index: 2;
  font-weight: bold;
}
#copyright a {
  color: black;
  text-decoration: none;
}
#admin {
  font-family: sans-serif;
  color: white;
  background-color: rgb(140, 140, 140);
  background-color: rgba(100, 100, 100, 0.8);
  padding: 1em 0;
  z-index: 1;
  overflow-y: auto;
  position: absolute;
  right: 0px;
  height: 100%;
}
#admin a {
  color: white;
  text-decoration: none;
}
#admin .btn-group a{
  color: black;
}
#admin .btn-group li {
  text-align: left;
}
input[type='checkbox'] {
  float: right;
}
.unit:first-of-type {
  margin-top: 40px;
}
.unit {
  margin: 0;
  padding: 4px 10px 4px 10px
}
.unit h3 {
  margin-bottom: 0px;
  font-size: 1.4em;
  font-weight: normal;
}
.unit:hover {
  background: rgba(0,0,0,.3);
}
.unit input[type='button'] {
  background: rgba(155, 155, 155, 0.1);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 2px;
}
.unit input[type='textbox'] {
  width: 180px;
  border: 1px solid white;
  color: white;
  background: rgba(100, 100, 100, 0.2);
}
#arrow {
  float: left;
  width: 100%;
  height: 10px;
  margin: -2.0em 0em 0 -2.2em;
  padding: 1.5em;
  background-repeat: no-repeat;
  background-position: 90% 50%;
}
.timeonMap {
  position: absolute;
  z-index: 1;
  color: white;
  background-color: rgba(0,0,0, .7);
  border-radius: 4px;
  padding: 6px;
  font-family: arial;
  font-size: 13px;
  text-align: center;
}
#map .container .infowindow .window .right .user .titlebar .hide {
  display: none;
}
#map .container .infowindow .window .right .user .border {
  display: none;
}
#map .container .infowindow .window .right .user .content {
  overflow: visible;
  margin: 1px 0 2px 1px;
}

#sendMsgNotif {
  position: absolute;
  top: 0px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  margin: 20px 550px;
  padding: 30px;
  font-family: verdana;
  font-size: 30px;
  color: white;
  border: 2px solid white;
}
#loader {
    font-family: 'WebSymbolsRegular';
    margin-left: 6px;
}
#styr_trackarum {
    font-family: 'WebSymbolsRegular';
    text-shadow: 3px 3px 2px #444;
    float: right;
    margin-right: 13px;
    margin-bottom: 10px;
}
#styr_trackarum:hover {
    color: #efefef;
    text-shadow: 3px 3px 2px #333;
}

#log {
    background: rgba(255, 255, 255, 0.898438);
    color: black;
    margin: 10px;
    position: absolute;
    width: 220px;
    right: 0px;
    bottom: 60px;
}
#log h1 {
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0;
    text-align: center;
    font-family: verdana;
    padding: 5px;
    font-size: 13pt;
}
#log p {
    font-size: 10pt;
    padding: 0 10px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0;
}

#addressSearch {
    display: none;
    position: absolute;
    z-index: 1;
    left: 80px;
    top: 35px;
    right: auto;
    background: rgba(0, 0, 0, .5);
    width: 210px;
    padding-top: 10px;
}
div#addressSearch.sendMessage {
    right: 260px !important;
    left: auto !important;
    top: 28px !important;
}
#addressSearch .addressClose {
    font-family: WebSymbolsRegular;
    color: white;
    position: absolute;
    top: 4px;
    left: 189px;
    font-size: 10px;
    cursor: pointer;
}

#addressSearch label {
    margin: 0 10px; 
    color: white;
    font-family: arial;
    font-weight: bold;
}
#addressSearch input {
    float: left;
    width: 180px;
    margin: 10px;
    border: 1px solid white;
    padding: 4px;
}

.icon-globe, .icon-search {
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
.icon-globe {
    top: 242px;
    left: 31px;
}
.icon-search {
    top: 267px;
    left: 32px;
}
@font-face{ 
    font-family: 'WebSymbolsRegular';
    src: url('/fonts/websymbols-regular-webfont.eot');
    src: url('/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/websymbols-regular-webfont.woff') format('woff'),
         url('/fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}
