html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}
body {
	font-family: sans-serif;
	background-color: #ccc;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.03, rgb(107,120,128)),
		color-stop(0.52, rgb(226,235,235))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(107,120,128) 3%,
		rgb(226,235,235) 52%
	);
	background-repeat: no-repeat;
}
#container {
	padding: 2em;
}
#main {
	min-height: 400px;
	width: 700px;
	margin: auto;
	border: 1px solid #ccc;
	padding: 2em;
	background-color: #fefefe;
	opacity:0.8;
	box-shadow: 3px 5px 10px #666;  
}
#main #logo {
	width: 200px;
	height: 200px;
	margin: 1em;
	float: right;
}

#main label {
        display: block;
}
.editLayers {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 14px;
}
.editLayers td {
    border: 1px solid black;
    padding: 5px;
}
.editLayers th {
    padding: 10px;
    font-size: 18px;
}
.addLayer td:first-child {
    width: 98%;
}
.addLayer td:first-child input {
    width:  98%;
}

